# Supabase Configuration (Dedicated to Date_web)
VITE_SUPABASE_URL="https://your-project-id.supabase.co"
VITE_SUPABASE_ANON_KEY="your-anon-public-key"

# Secret Service Role Key (по желание / за бекенд скриптове)
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
